<!DOCTYPE html>
<html lang="en">
    
<%- include('partials/head.ejs')%>
    <body>
        <%- include('partials/header.ejs')%>
        <main>
  <!-- Formulario editar marcas-->

  <div class="login-h1"><h1>Editar marca</h1></div>
          <br>
          <br>
  <label for="marca" class="texto-inputs">Nombre de la marca</label>
  <form action="/products/secProducts/<%= brand.id %>/editBrand" method="POST">
    <div class="div-input">
          <input id="id" name="id" value="brand.id" hidden> 
          <label for="marca" class="sec-label">Marca</label>
          <input type="text" name="marca"  class="login-data" value="<%= brand.name_brand %>">
          </div>
          <button type="submit" class="submit-btn">Editar</button>
          <br>
          <br>
          <br>
          <br>
  </form>

</main>
</body>
<%- include('partials/footer.ejs')%>    
</html>       

