<!DOCTYPE html>
<html lang="en">
    
<%- include('partials/head.ejs')%>
    <body>
        <%- include('partials/header.ejs')%>
        <main>
  <!-- Formulario editar marcas-->

  <div class="login-h1"><h1>Editar categoría</h1></div>
  <br>
  <br>
<label for="category" class="texto-inputs">Nombre de la categoría</label>
  <form action="/products/secProducts/<%= category.id %>/editCategory" method="POST">
    <div class="div-input">
          <input id="id" name="id" value="category.id" hidden> 
          <label for="category" class="sec-label">Categoría</label>
          <input type="text" name="category" class="login-data" value="<%= category.name_category %>">
          </div>
          <button type="submit" class="submit-btn">Editar</button>
          <br>
          <br>
          <br>
          <br>
  </form>

</main>
</body>
<%- include('partials/footer.ejs')%>    
</html>       
