<!DOCTYPE html>
<html lang="en">
  <script src="/js/validacionEditColor.js"></script>
<%- include('partials/head.ejs')%>
    <body>
        <%- include('partials/header.ejs')%>
        <link href="/css/style-sec-tables.css" rel = "stylesheet" >
        <main>
  <!-- Formulario editar marcas-->

  <div class="login-h1"><h1>Editar color</h1></div>
  <br>
  <br>
  <label for="color" class="texto-inputs">Nombre del color</label>
  <form action="/products/secProducts/<%= color.id %>/editColor" method="POST" class="categoryColor-form">
    <div class="div-input">
          <input id="id" name="id" value="color.id" hidden> 
          <label for="color">Color</label>
          <input type="text" name="color" class="login-data" value="<%= color.color %>" id="color">
        </div>
        <div class="alert-sec-tableColor">
        </div> 
          <button type="submit" class="submit-btn">Editar</button>
          <br>
          <br>
          <br>
          <br>
          <div class="alert-sec-sec-tableColor">
          </div>

          <% if(typeof errores != 'undefined'){ %>
            <% for(let i = 0; i < errores.length; i++){ %>
                <% if(errores[i].param == "color"){ %>
                    <div class="alert"> <%= errores[i].msg %></div>
                    <% } %>
                    <% } %>
                    <% } %>
  </form>

</main>
</body>
<%- include('partials/footer.ejs')%>    
</html>       
