<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs')%>

<body>
    <%- include('partials/header.ejs')%>

    <main class="main-car">
        <div class="titulo-carrito">
            <h1>Añadir Producto</h1>
        </div>
        <section class="sec-addProduct">
            <form class="login-form" method="POST" action="/products">
                <label class="texto-inputs" for="productName">Nombre del producto</label>
                <div class="div-input">
                    <input type="text" name="name" id="productName" class="login-data" placeholder="Nombre del producto" required value="<%=productEdit.name%>">
                </div>

                <label class="texto-inputs" for="precio">Precio</label>
                <div class="div-input">
                    <input type="text" name="price" id="precio" class="login-data" placeholder="$10000.00" required value="<%=productEdit.price%>">   
                </div>

                <label class="texto-inputs" for="marca">Marca</label>
                <div class="div-input">
                    <input type="text" name="brand" id="marca" class="login-data" placeholder="Marca" required value="<%=productEdit.brand%>">   
                </div>

                <label class="texto-inputs" for="des">Descripción</label>
                <div class="div-input">    
                    <textarea name="description" id="des" class="login-data" placeholder="Descripción" rows="5" required> <%= productEdit.description %> </textarea>
                </div>

                <label class="texto-inputs" for="imagenP">Imagen del producto</label>
                <div class="cont-chargeImg">
                    <input type="file" name="image" id="imagenP" accept=".jpg, .png" class="chargeImg">  
                </div>

                <label class="texto-inputs" for="categoria">Categoría</label>
                <div class="cont-categoria" >
                    <select name="category" id="categoria" required class="list-categoria">
                        <option value="Na">Seleccione categoría</option>
                        <option value="patines" >Patines</option>
                        <option value="protect">Equipo de protección</option>
                        <option value="accesorio">Accesorio</option>
                        <option value="refaccion">Refacción</option>
                    </select>  
                </div>
            
                <label class="texto-inputs" for="tallas">Tallas disponibles</label>
                <div class="div-input">
                    <input type="text" name="size" id="tallas" placeholder="talla1, talla2, ..." class="login-data" value="<%= productEdit.size %>">
                </div>
                
                <label class="texto-inputs" for="colores">Colores disponibles</label>
                <div class="div-input">
                    <input type="text" name="color" id="colores" class="login-data" placeholder="color1, color2, ..." value="<%= productEdit.color %>">
                </div>
                
                <button type="submit" class="submit-btn">Guardar</button>
                <button type="reset" class="submit-btn">Canselar</button>
            </form>
        </section>
        <section >
            <p class="texto-registro">Para EDITAR o ELIMINAR un producto consulte:</p>
            <a class="link-registro" href="/products/list">Lista de productos</a>
        </section>
        </main>

    </main>

    <%- include('partials/footer.ejs')%>    
</body>
</html>