<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%>

<body>

    <%- include('partials/header.ejs')%>
    
    <main>
<!--Imagenes del primer producto-->
    <div class="caja3">
        <div class="caja2">
            <img class="img-producto" src = '<%=product.image%>' alt='Patines clasicos blancos con flor bordada'>
        </div>

        <div class="caja1">
            <img class="subimg-producto" src = '/img/patin-01.jpg' alt='Patines clasicos blancos con flor bordada'>
            <img class="subimg-producto" src = '/img/patin-02.jpg' alt='Patines clasicos blancos con flor bordada'>
            <img class="subimg-producto" src = '/img/patin-02.jpg' alt='Patines clasicos blancos con flor bordada'>
            <img class="subimg-producto" src = '/img/patin-04.jpg' alt='Patines clasicos blancos con flor bordada'>
        </div>
    
<!--Datos de vista rapida del producto-->
        <div class="sec-resum"> 

            <h2 class="nombre-art"><%=product.name%></h2>
            <p class="resum-des"><%=product.description%></p>
            <h3 class="precio-des"><%=product.price%></h3>

<!-- TODO: Funcionalidad de option-->

            <form action="#none" method="GET">
                <label class="resum-des"> Talla: </label>
                <select name="talla" class="selec">
                    <% for(let i=0 ; i < product.size.length ;i++) { %>
                        <option value="<%=product.size[0]%>"><%=product.size[i]%></option>
                        <% } %>
                </select>
            </form>
            <br>
            <form action="#none" method="GET">
                <label class="resum-des">Color: </label>
                <select class="selec">
                    <% for(let i=0 ; i < product.color.length ;i++) { %>
                    <option value="<%=product.color[0]%>"><%=product.color[i]%></option>
                    <% } %>
                </select>
                <br>
            </form>
     <br>
     <!-- Calificación por estrellas -->
            <span class="material-icons material-icons-round">
                star
            </span>
            <span class="material-icons material-icons-round">
                star
            </span>
            <span class="material-icons material-icons-round">
                star
            </span>
            <span class="material-icons material-icons-round">
                star
            </span>
            <span class="material-icons material-icons-round">
                star_half
            </span>
            <br>
            <a href="#reseñas">12 reseñas</a>
            <br>
        
            <button class= "boton-detail" type="submit">Agregar al carrito</button>
            <button class= "boton-detail" type="submit">Comprar ahora</button> 

        </div>
    </div>
    <!--Menu de detalles del producto-->
        <div class="cont-detalle">
            <ul class="details-menu">
                <li >
                    <label for="show-des">Descripción</label>
                    <input type="checkbox" id="show-des" hidden checked>
                    <div class="descripcion"><p class="cuadro-des"><%=product.description%></p></div>
                </li>
                <li> 
                    <label for="show-talla">Selección de talla</label>
                    <input type="checkbox" id="show-talla" hidden>
                    <div class="descripcion"><p class="cuadro-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt lacinia nunc nec venenatis. Sed euismod, lacus vel fermentum imperdiet, felis eros imperdiet enim, ac pulvinar lacus erat sit amet augue. Integer vitae ipsum varius, ultricies arcu nec, iaculis eros. Etiam non eleifend nibh. Aliquam ac erat sed velit rhoncus dictum. Aliquam suscipit convallis aliquet. Quisque in dolor sit amet tellus venenatis rutrum. Ut a mauris tincidunt, tempor purus eget, suscipit lacus. Nulla rutrum lectus at lacus dictum aliquam. Aliquam placerat consectetur elementum. Vestibulum quis tortor vitae ligula semper suscipit quis et diam. Donec non lorem sed magna scelerisque porta. Aenean nec turpis nisi. Mauris metus erat, pulvinar rhoncus turpis ut, rhoncus molestie ipsum. Vestibulum mattis risus ac mauris commodo, ut sodales nibh dictum.</p></div>
                
                </li>
                <li>
                    <label for="show-consejo">Consejos</label>
                    <input type="checkbox" id="show-consejo" hidden>
                    <div class="descripcion"><p class="cuadro-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt lacinia nunc nec venenatis. Sed euismod, lacus vel fermentum imperdiet, felis eros imperdiet enim, ac pulvinar lacus erat sit amet augue. Integer vitae ipsum varius, ultricies arcu nec, iaculis eros. Etiam non eleifend nibh. Aliquam ac erat sed velit rhoncus dictum. Aliquam suscipit convallis aliquet. Quisque in dolor sit amet tellus venenatis rutrum. Ut a mauris tincidunt, tempor purus eget, suscipit lacus. Nulla rutrum lectus at lacus dictum aliquam. Aliquam placerat consectetur elementum. Vestibulum quis tortor vitae ligula semper suscipit quis et diam. Donec non lorem sed magna scelerisque porta. Aenean nec turpis nisi. Mauris metus erat, pulvinar rhoncus turpis ut, rhoncus molestie ipsum. Vestibulum mattis risus ac mauris commodo, ut sodales nibh dictum.</p></div>
                
                </li>
            </ul>
        </div>
        <!-- Seccion de sugerencias -->
        <div class="caja4">
            <h2 class="nombre-art">También Podrías Necesitar </h2>
            <br>
        </div>
        <section class="caja4">
                   
            <div class="caja2">
                <img class="img-sug" src = '/img/casco-01.jpg' alt='casco'>
                <h2 class="nombre-sug">Casco verde militar</h2>
                <button class= "boton-sug" type="submit">Agregar al carrito</button>
            </div>

            <div class="caja2">
                <img class="img-sug" src = '/img/home-producto2.jpg' alt='Patines fitnes'>
                <h2 class="nombre-sug">Patines fitness ABEC</h2>
                <button class= "boton-sug" type="submit">Agregar al carrito</button>
            </div>

            <div class="caja2">
                <img class="img-sug" src = '/img/ruedas-01.jpg' alt='Ruedas'>
                <h2 class="nombre-sug">Juego de ruedas POWERSLIDE</h2>
                <button class= "boton-sug" type="submit">Agregar al carrito</button>
            </div>
            <div class="caja2">
                <img class="img-sug" src = '/img/protectores.jpg' alt='Protectores'>
                <h2 class="nombre-sug">Kit de protectores</h2>
                <button class= "boton-sug" type="submit">Agregar al carrito</button>
            </div>
        </section>
    </main>

<!--Pie de pagína-->
<%- include('partials/footer.ejs')%>
<!--Pie de pagína-->
    <footer>
<!--Logo Fun N Skate-->
         <div>
            <img class="logo-footer" src = '/img/Logo Blanco.svg' alt='Logo Fun-N-Skate'>
        </div>
        
        <!--Logotipos de redes sociales-->
        <div class="caja-redes">
            <h3 class="titulo-redes">¡Siguenos!</h3>
            <a href="facebook">
                <img class="redes" src = '/img/icon-fb.png' alt='Logo facebook'>
            </a>

            <a href="twitter">
                <img class="redes" src = '/img/icon-twit.svg' alt='Logo twitter'>
            </a>

            <a href="whatsapp">
                <img class="redes" src = '/img/icon-whats.svg' alt='Logo whatsapp'>
            </a>

            <a href="instagram">
                <img class="redes" src = '/img/icon-inst.svg' alt='Logo instagram>
            </a> 
            <div>
                <h3>¡Suscribete! <br> Obten noticias y ofertas</h3>
                <input class="barra-correo" type="email"/>
                <button class="boton-sus">Suscribete</button>
            </div>
        </div>
        <!--Area de suscripción -->
      

</body>
</html>