<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs')%>
    <%- include('partials/header.ejs')%>
    <body>
        <link href="/css/style-sec-tables.css" rel = "stylesheet" >
        <main>
        <h1 id="products-titulo">Productos lista avanzada</h1>
        <div class="container">

            <!-- Tabla de marcas -->

            <h1>Marcas</h1>
            
            <table class="flat-table flat-table-1">
                <thead>
                    <th>id</th>
                <th>Marca</th>
                <th>Editar</th>
                <th>Eliminar</th>
                </thead>
                <% for(let i = 0; i < marcas.length; i ++) { %>
                <tbody>
                    <tr>
                        <td><%=marcas[i].id%></td>
                        <td><%=marcas[i].name_brand%></td>
                        <td><i class="fas fa-pen" id="edit"></i></td>
                        <td> <form action="/products/secProducts/delete/<%= marcas[i].id%>?_method=DELETE"
                            method="POST"><button class="sec-delete"><i class="fas fa-trash" id="delete"></i></td>
                        </form>
                    </tr>
                </tbody>
                <% } %>
                <td></td>
                    </table>

                    <!-- Formulario agregar marcas-->

                    <h1 id="products-titulo">Crear marca</h1>
                    <form action="/products/secProducts/crear" method="POST">
                        <div>
                            <label for="marca">Marca</label>
                            <input type="text" name="marca">
                            </div>
                            <button type="submit">Agregar marca</button>
                    </form>
                    
                   <!-- Tabla de categorías -->

                   <h1>Categorías</h1>

            <table class="flat-table flat-table-1">
                <thead>
                    <th>id</th>
                <th>Categoría</th>
                <th>Editar</th>
                <th>Eliminar</th>
                </thead>
                <% for(let i = 0; i < categorias.length; i ++) { %>
                <tbody>
                    <tr>
                        <td><%=categorias[i].id%></td>
                        <td><%=categorias[i].name_category%></td>
                        <td><i class="fas fa-pen" id="edit"></i></td>
                        <td> <form action="/products/secProducts/delete/<%= categorias[i].id%>?_method=DELETE"
                            method="POST"><button class="sec-delete"><i class="fas fa-trash" id="delete"></i></td>
                        </form>
                </tbody>
                <% } %>
                <td></td>
            </table>

             <!-- Formulario agregar categorías-->

            <h1 id="products-titulo">Crear categoría</h1>
            <form action="/products/secProducts/crearCategoria" method="POST">
                <div>
                    <label for="categoria">Categoría</label>
                    <input type="text" name="categoria">
                    </div>
                    <button type="submit">Agregar categoría</button>
            </form>

                      <!-- Tabla de colores -->

                   <h1>Colores</h1>

                   <table class="flat-table flat-table-1">
                       <thead>
                           <th>id</th>
                       <th>Color</th>
                       <th>Editar</th>
                       <th>Eliminar</th>
                       </thead>
                       <% for(let i = 0; i < color.length; i ++) { %>
                       <tbody>
                           <tr>
                               <td><%=color[i].id%></td>
                               <td><%=color[i].color%></td>
                               <td><i class="fas fa-pen" id="edit"></i></td>
                               <td> <form action="/products/secProducts/delete/<%= color[i].id%>?_method=DELETE"
                                method="POST"><button class="sec-delete"><i class="fas fa-trash" id="delete"></i></td>
                            </form>
                           </tr>
                       </tbody>
                       <% } %>
                   </table>

                   <!-- Formulario agregar color-->
                   
                   <h1 id="products-titulo">Crear color</h1>
                   <form action="/products/secProducts/crearColor" method="POST">
                       <div>
                           <label for="color">Color</label>
                           <input type="text" name="color">
                           </div>
                           <button type="submit">Agregar color</button>
                   </form>
                   <br>
                   </div>
                   
                </main>
    </body>
    <%- include('partials/footer.ejs')%>
</html>       

